.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 35px;
    justify-items: center;
    height: 50%;

    button {
        font-size: 22px;
        border-radius: 50%;
        width: 50px;
        border: none;
        height: 50px;
        cursor: pointer;

        &:active {
            transform: translateY(2px);
        }
    }

    .purple {
        background-color: rgb(165, 112, 214);
        color: white;
    }
}