@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(214, 214, 214);
    height: 100vh;
}

button, input {
    font-family: 'Oxygen', sans-serif;;
}